<template>
    <div id="app">
        <headerView></headerView>
            <div class="row" id="jumbotronDiv">
                <div class="col"></div>
                <div class="jumbotron">          
                    <h2 class="display-4">Payment processing</h2>
                        <form>
                            <div class="form-group">
                                <label for="cardNumber" class="text-muted" data-error="Please enter a card number">Card Number</label>
                                <input id="cardNumber" type="cardNumber" class="form-control" placeholder="Enter Card Number" v-model="cardNumber">
                            </div>
                            <div class="form-group">
                                <label for="cvc" class="text-muted" data-error="Please enter a valid cvc">CVC</label>
                                <input id="cvc" type="cvc" class="form-control" placeholder="123" v-model="cvc">
                            </div>
                            <div class="form-group">
                                <label for="expiryMonth" class="text-muted">Expiry Month</label>
                                <input id="expiryMonth" type="expiryMonth" class="form-control" placeholder="MM" v-model="password">
                            </div>
                            <div class="form-group">
                                <label for="expiryYear" class="text-muted">Expiry Year</label>
                                <input id="expiryYear" type="expiryYear" class="form-control" placeholder="YY" v-model="password">
                            </div>
                            <div id="paymentButton">
                                <router-link to='/dashboard' tag="button" class="btn btn-info btn-lg"  exact><a>Go back</a></router-link>
                                <button type="submit" class="btn btn-success btn-lg" v-on:click.prevent="placeOrder">Place order</button>
                            </div>
                        </form>
                    </div>
                <div class="col"></div>
            </div>
        <router-view></router-view>
    </div>
</template>

<script>
import Item from './Item.vue';
import ShoppingCart from './ShoppingCart.vue';
import header from './Navigation.vue'
export default {
    computed: {
        forSale() { return this.$store.getters.forSale; },
        
    },
    components:{
        Item,
        ShoppingCart,
        headerView : header
    }
}
</script>

<style scoped>
    #welcomeText{
        text-align: center;
        color: ;
        border-bottom:none;
        margin: 2%;
        font-size: 45px;
        font: 'Arizonia'
    }

    a{
        color: white;
        text-decoration: none;
    }

    #paymentButton{
        text-align: center;
    }

    #jumbotronDiv{
        text-align: ;
        
    }
    .jumbotron{
        background: none;
        margin-top: 5%;
    }
    .bg-dark {
        background-color: #272b30!important;
    }
    li { cursor: pointer; }
</style>