<template>
    <div id="app">
    	<headerView></headerView>
    		<div class="row" id="jumbotronDiv">
    			<div class='container'>
        			<h1 class="display-4" id="welcomeText">OneShop store <ShoppingCart /></h1>
        			<div class="row">
        				<Item
        				v-for="item in forSale"
        				:key="item.invId"
        				:invId="item.invId"
        				:name="item.name"
        				:image="item.image"
        				:price="item.price" />
    				</div>
    			</div>
    		</div>
		<router-view></router-view>
    </div>
</template>

<script>
import Item from './Item.vue';
import ShoppingCart from './ShoppingCart.vue';
import header from './Navigation.vue'
export default {
	computed: {
    	forSale() { return this.$store.getters.forSale; },
    	
  	},
	components:{
		Item,
		ShoppingCart,
      	headerView : header
  	},
    beforeCreate() {
    if (!this.$session.exists()) {
      this.$router.push('/')
    }
  },
}
</script>

<style scoped>
	#welcomeText{
        text-align: center;
        color: ;
        border-bottom:none;
        margin: 2%;
        font-size: 45px;
        font: 'Arizonia'
    }
    #jumbotronDiv{
        text-align: ;
        
    }
    .jumbotron{
        background: none;
        margin-top: 5%;
    }
    .bg-dark {
        background-color: #272b30!important;
    }
    li { cursor: pointer; }
</style>