<template>
    <div>
        <div class="row" id="jumbotronDiv" >
            <div class="col"></div>
                <div class="jumbotron">          
                    <h2 class="display-4" id="signInHeader">Sign In</h2>
                      <div class="alert" v-if="status" style="text-align: center">
                        <span>{{message}}</span>
                      </div>
                      <form>
                          <div class="form-group">
                              <label for="email" class="text-muted" data-error="Please enter a valid email">Email</label>
                              <input id="email" type="email" class="form-control" placeholder="Enter Email" v-model="email">
                          </div>
                          <div class="form-group">
                              <label for="password" class="text-muted">Password</label>
                              <input id="password" type="password" class="form-control" placeholder="Enter Password" v-model="password">
                          </div>
                          <div id="signInButton"><button type="submit" class="btn btn-info btn-lg" v-on:click.prevent="login">Submit</button></div>
                      </form>
                      <div style="text-align: center">
                        <span>No Account?</span>
                        <router-link to="/signup" class="action">Sign Up</router-link>
                      </div>
                </div>
            <div class="col"></div>
        </div>
    </div>  
</template>

<script>
export default {
  name: 'Login',
  data() {
    return{
      email: '',
      password: '',
      status: false,
      message: '',
      authenticating: false
    }
  },
  methods: {
    login(){
      this.authenticating = true;
      this.$http.post('http://localhost:1337/login', {
        email: this.email,
        password: this.password
      })
      .then(function (response) {

        if(response.data.status){
          this.email = ''
          this.password = ''
          this.status = false
          this.message = ''

          this.$session.start()
          this.$session.set('id', response.data.id)
          this.$router.push('/dashboard')
        }else{
          this.status = true
          this.message = response.data.message
          this.authenticating = false;
        }
      })
      .catch(function (error) {
        console.log(error.message);
      });
    }
  },
  computed: {
    isDisabled(){
      if (this.email != '' && this.password != ''){
        return 'enabled'
      }else{
        return 'disabled'
      }
    }
  }
}
</script>

<style scoped>
     #signInHeader{
        text-align: center;
    }
    button{
        color: white;
        background-color: ;
        border: 1px solid white;
    }
    #signInButton{
        text-align: center;
    }
    #jumbotronDiv{
        
    }
    .jumbotron{
        background: none;
        margin-top: 5%;
    }
</style>

