<template>
    <div>
        <div class="row" id="jumbotronDiv">
            <nav class="navbar navbar-expand-sm bg-info navbar-dark col-12">
              <ul class="navbar-nav">
                    <router-link tag="li" to="/dashboard" class="nav-item" active-class="active" exact><a class="nav-link">OneShop</a></router-link>
                    <router-link tag="li" to="/dashboard" class="nav-item" active-class="active" exact><a class="nav-link">Dashboard</a></router-link>
                    <li class="nav-item"><a class="nav-link" v-on:click="logUserOut">Log Out</a></li>
                </ul>
            </nav>
        </div>  
    </div>
    
</template>

<script>
export default {
  methods: {

      logUserOut(){
          this.$session.destroy();
          this.$router.push('/');
      }
  }
}
</script>

<style scoped>
    #welcomeText{
        text-align: center;
        margin: 2%;
        font-size: 35px;
        font: 'Arizonia'
    }
    #jumbotronDiv{
        background: none;
        
    }
    .jumbotron{
        background: none;
        margin-top: 5%;
    }
    .bg-dark {
        background-color: #272b30!important;
    }
    li { cursor: pointer; }
</style>


