<template>
	<div>
		<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#placeOrder">Place Order</button>
		<div id="placeOrder" class="modal fade" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Order complete</h5>
      				</div>
      				<div class="modal-body">
                 <p>Congratulations! Your order has been fulfilled and will be shipped out within 1-2 business days. We sent you a confirmation email for your records. Don't forget to whitelist our contact-email: <strong>oneshopapp0@gmail.com</strong>, so that our correspondence wont go in the junk. Thanks so much!</p>
      				</div>
      				<div class="modal-footer">
        				<button class="btn btn-info" data-dismiss="modal" @click="returnsToDashboard">Keep shopping</button>
        				<button class="btn btn-success" data-dismiss="modal" @click="logUserOut">Logout</button>
      				</div>
    			</div>
  			</div>
      	</div>
   	</div>
</template>
<script>
import { dollars } from './filters';
export default {
  name: 'placeOrder',
  filters: {
   	dollars,
  },
  methods: {
  	returnsToDashboard(){
      this.$router.push('/dashboard')
    },
    logUserOut(){
      this.$session.destroy();
      this.$router.push('/');
    }
  }
};
</script>

<style scoped>
  .modal-content {
    background-image: url("https://image.freepik.com/free-vector/falling-confetti-background_1048-6409.jpg");
  }

</style>