<template>
	<div>
		<button class="btn btn-success" data-toggle="modal" data-target="#shoppingCart">Cart ({{ numInCart }})</button>
		<div id="shoppingCart" class="modal fade" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Shopping cart</h5>
        				<button class="close" data-dismiss="modal">
        					&times;
        				</button>
      				</div>
      				<div class="modal-body">
        				<table class="table">
  							<tbody>
    							<tr v-for="(item, index) in cart">
      								<td>{{ item.name }}</td>
      								<td>{{ item.price | dollars }}</td>
      								<td>
        								<button class="btn btn-sm btn-danger" @click="removeFromCart(index)">&times;</button>
      								</td>
    							</tr>
    							<tr>
      								<th></th>
      								<th>${{ total | dollars }}</th>
      								<th></th>
    							</tr>
  							</tbody>
						</table>
      				</div>
      				<div class="modal-footer">
        				<button class="btn btn-info" data-dismiss="modal">Keep shopping</button>
        				<button class="btn btn-success" data-dismiss="modal" @click="checkout">Check out</button>
      				</div>
    			</div>
  			</div>
      	</div>
   	</div>
</template>
<script>
import { dollars } from './filters';
export default {
  name: 'shoppingCart',
  data() {
    return{
      order: '',
      status: false,
      message: '',
    }
  },

  filters: {
   	dollars,
  },
  methods: {
  	checkout(){
 	  var userId = this.$session.get('id')
      this.$http.post('http://localhost:1337/api/order/' + userId, {
      	order: this.cart
      })
      .then(function (response) {
        this.$router.push('/order')
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    removeFromCart(index) {
      this.$store.dispatch('removeFromCart', index);
    },
  },
  computed: {
    inCart() { return this.$store.getters.inCart; },
    numInCart() { return this.inCart.length; },
    total() {
      return this.cart.reduce((acc, cur) => acc + cur.price, 0);
    },
    cart() {
      return this.$store.getters.inCart.map((cartItem) => {
        return this.$store.getters.forSale.find((forSaleItem) => {
          return cartItem === forSaleItem.invId;
        });
      });
    },
  },
};
</script>