<template>
  <div>
    <div class="row" id="jumbotronDiv" >
      <div class="col"></div>
        <div class="jumbotron">
          <h2 class="display-4" id="signUpHeader">Create An Account</h2>
            <div class="alert" v-if="status" style="text-align: center">
              <span>{{message}}</span>
            </div>
            <form>
              <div class="form-group">
                <label for="username" class="text-muted">Username</label>
                <input id="username" placeholder="Enter Username" type="text" class="form-control" v-model="username">
              </div>
              <div class="form-group">
                <label for="mobileNo" data-error="wrong" class="text-muted">Mobile Number</label>
                <input id="mobileNo" placeholder="Enter Phone Number" type="tel" class="form-control" v-model="mobileNo">
              </div>
              <div class="form-group">
                <label for="email" data-error="Please enter a valid email" class="text-muted">Email</label>
                <input id="email" placeholder="Enter Email Address" type="email" class="form-control" v-model="email">
              </div>
              <div class="form-group">
                <label for="password" class="text-muted">Password</label>
                <input id="password" placeholder="Enter Password" type="password" class="form-control" v-model="password">
              </div>
              <div id="signUpButton"><button type="submit" class="btn btn-info btn-lg" v-on:click.prevent="register">Create</button></div>
          </form>
          <div style="text-align: center">
            <span>I have an account</span>
            <router-link to="/login" class="action">Log in</router-link>
          </div>
        </div>
      <div class="col"></div>
    </div>
  </div> 
</template>

<script>
export default {
  name: 'Signup',
  data () {
    return {
      username: '',
      email: '',
      mobileNo: '',
      password: '',
      status: false,
      message: '',
      authenticating: false
    }
  },
  methods: {
    register(){
      this.authenticating = true;
      var self = this

      this.$http.post('http://localhost:1337/api/user', {
        username: self.username,
        email: self.email,
        mobileNumber: self.mobileNo,
        password: self.password
      })
      .then(function (response) {
        if(response.data.status){
          self.email = ''
          self.password = ''
          self.mobileNo = ''
          self.password = ''
          self.status = false
          self.message = ''
          self.$router.push('/login')
        }else{
          self.status = true
          self.message = response.data.message
          this.authenticating = false
        }
      })
      .catch(function (error) {
        console.log(error.message);
      });
    }
  },
  computed: {
    isDisabled(){
      if (this.username != '' && this.mobileNo != '' && this.email != '' && this.password != ''){
        return 'enabled'
      }else{
        return 'disabled'
      }
    }
  }
}
</script>

<style scoped>
     #signUpHeader{
        text-align: center;
    }
    button{
        color: white;
        background-color: ;
        border: 1px solid white;
    }
    #signUpButton{
        text-align: center;
    }
    #jumbotronDiv{
        
    }
    .jumbotron{
        background: none;
        margin-top: 0%;
    }
</style>




