<template>
  <div>
    <div class="row" id="jumbotronDiv" >
      <div class="col"></div>
        <div class="jumbotron">
          
            <h1 class="display-4" id="welcomeText"> Welcome to OneShop!</h1>
            <hr class="my-4">
            <h4 class="text-info"><small>Sign up to access our wide range of <strong>products...</strong></small></h4>                    
            <div id="buttons">
              <router-link to='/login' tag="button" class="btn btn-info btn-lg"  exact><a>Login</a></router-link>
              <router-link to='/signup' tag="button" class="btn btn-info btn-lg" exact><a>Sign Up</a></router-link>
            </div>    
        
        </div>
      <div class="col"></div>
    </div>
  </div>
</template>

<script>
export default {
  beforeCreate: function () {
    if (this.$session.exists()) {
      this.$router.push('/Products');
    }
  }
}
</script>

<style scoped>
    #welcomeText{
        text-align: center;
    }
    #buttons{
        text-align: center;
    }
    button{
        color: white;
        background-color: ;
        border: 1px solid white;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .col-5{
        margin-top: 20%;
        color: olive;
        font: 'Arizonia'
    }
    #jumbotronDiv{
        text-align: center;
    }
    .jumbotron{
        background: none;
        margin-top: 5%;
    }
</style>


