<template>
  <div class="container-fluid">
    <!-- <welcome-page></welcome-page> -->
    <router-view/>
  </div>
</template>

<script>
import Welcome from '@/components/Welcome'
export default {
  name: 'App',
  components:{
    welcomePage: Welcome
  }
}
</script>

<style>
body {
   background-image: url("https://vapulus.com/blog/ar/wp-content/uploads/2018/08/Benefits-of-shopping-online.png");
  }
</style>
